.fz-6px{
	font-size: 12px;
}
.fz-12px{
	font-size: 14px;
}
.bold{
	font-size: 18px;
	font-weight: bold;
}
.center{
	text-align: center;
}
.ans{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
/* dot line */
.dotted {
        margin-top: 1em;
	margin-bottom: 0.5em;
        line-height: 1.3;
	border-bottom: 3px dotted gray;
	padding: 10px;
	font-size: 16px;
}
.dotted1 {
        margin-top: 1em;
	margin-bottom: 0.5em;
        line-height: 1.3;
	border-bottom: 3px dotted orange;
	padding: 10px 1px 10px;
	font-size: 16px;
}
.dotted2 {
        margin-top: 1em;
	margin-bottom: 0.5em;
        line-height: 1.3;
	border-bottom: 3px dotted green;
	padding: 10px 1px 10px;
	font-size: 16px;
}
.dotted3{
        margin-top: 1em;
	margin-bottom: 0.5em;
        line-height: 1.3;
	border-bottom: solid 3px #ae9984;
	padding: 10px 1px 10px;
	font-size: 16px;
}
/* 必須マーク */
.must{
	color: #cf2e2e;
}
/* フォームを囲むボックス 大枠*/
.contact-box{
    border:2px solid #eaeaea;
	padding:3%;
	margin:1.7em 0;
	border-radius:10px;
}
/* テキストエリア */
/* textarea.input-box{
	height:unset;
} */
.btn,
button.btn {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1em 6rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  margin-top: 10px;
}
.btn--red.btn--cubic {
  border-bottom: 5px solid green;
}

.btn--red.btn--cubic:hover {
  margin-top: 13px;
  border-bottom: 2px solid green;
}

.btn--radius {
  border-radius: 100vh;
}
